<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="row">
 
      <div class="col-4 offset-1">
        Get fitness encouragement with this random workout generator
      </div>
      <div class="col-4 offset-1">
        <%= link_to 'Submit a Workout', new_workout_path %>
      </div>
    </header>

    <br class="clear" />

   <%= yield %>

  </body>
</html>
